@model wep.Models.Employee

@{
    ViewData["Title"] = "EmployeeEdit";
}

<h1>EmployeeEdit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EmployeeEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeID" />
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeSurname" class="control-label"></label>
                <input asp-for="EmployeeSurname" class="form-control" />
                <span asp-validation-for="EmployeeSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeExperience" class="control-label"></label>
                <input asp-for="EmployeeExperience" class="form-control" />
                <span asp-validation-for="EmployeeExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="workingHours" class="control-label"></label>
                <input asp-for="workingHours" class="form-control" />
                <span asp-validation-for="workingHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
