@model wep.Models.Rendezvou

@{
    ViewData["Title"] = "RendezvouEdit";
}

<h1>RendezvouEdit</h1>

<h4>Rendezvou</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RendezvouEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RendezvouID" />
            <div class="form-group">
                <label asp-for="RandezvouTime" class="control-label"></label>
                <input asp-for="RandezvouTime" class="form-control" />
                <span asp-validation-for="RandezvouTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
